<style>
  #page4{
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #000;
  
}
#boxs{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
}
.box{
  position: relative;
  height: 22vh;
  width: 26%;
  background-color: #95C11E;
  border-radius: 20px;
  margin-top: 50px;
  overflow: hidden;
}
.box h2{
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 40px;
  color: #000;
  text-align: center;
  background-color: #95C11E;
  z-index: 10;
  font-weight: 900;
  justify-content: center;
  padding-top: 50px;
  transition: all ease 0.5s;

}
.box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.2;
}
.box h2:hover{
  color: #fff;
  background-color: transparent;
}
.box h2:hover img{
  scale: 1;
}
#page4 h1{
  font-size: 83px;
  position: relative;
  display: inline-block;
  top: 24.5%;
  color: #000;
  left: 7.5%;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-text-stroke: 1px #fff;
}
#footer{
  height: 50vh;
  width: 100%;
 background: linear-gradient(to left bottom, #5BB22A, #ADE023 );
 position: relative;
 display: flex;
 
}
#footer img{
  height: 100%;
  width: 30%;
  background-size: cover;
  overflow: hidden;
}
#footer #last{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  z-index: 99;
}
#last .f1{
  position: relative;
  top: -13%;
}
.f1 .icons{
  position: relative;
  display: flex;
  font-size: 40px;
  gap: 8px;
top: -23%;
left: 33%;
}
.icons i{
  color: #000;
}
.f1 img:hover{
   scale: 0.9;
}
.icons i:hover{
  color: #fff;
}
#last .f2{
  position: relative;
  text-align: left;
  font-size: 22px;
  white-space: nowrap;
  line-height: 50px;
  top: 20%;
  left: -6%;
}
.f2 h2{
  font-weight: 900;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.f2 h2:hover{
  color: #fff;
  transition: all ease 0.3s;
}
#last .f3{
  position: relative;
  text-align: left;
  font-size: 22px;
  white-space: nowrap;
  line-height: 50px;
  top: 20%;
  left: -2%;
}
.f3 h2{
  font-weight: 900;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.f3 h2:hover{
  color: #fff;
  transition: all ease 0.3s;
}
#last .f4{
  position: relative;
 text-align: left;
 top: 20%;
 left: 5%;
}
.f4 h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
}
.f4 h3{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #000;
  line-height: 35px;
}
.f4 h3:hover{
  color: #fff;
  transition: all ease 0.3s;
}
</style>
<div id="page4">
  <h1>WHAT ARE YOU WAITING FOR?</h1>
  <div id="boxs">
 <div class="box">
  <h2 style="padding-top: 30px;">TOPTRACER RANGE</h2>
  <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-toptracer.jpg?strip=all&lossy=1&sharp=1&w=1152&ssl=1" alt="">
</div>
 <div class="box">
  <h2>GOLF LESSONS</h2>
  <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-lessons.jpg?strip=all&lossy=1&sharp=1&w=1152&ssl=1" alt="">
 </div>
 <div class="box">
  <h2 style="padding-top: 30px;">ADVENTURE GOLF</h2>
  <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-ag.jpg?strip=all&lossy=1&sharp=1&w=1152&ssl=1" alt="">
 </div>
</div>
</div>
<div id="footer">
  <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg" alt="">
 <div id="last">
  <div class="f1">
  <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/logo-white.svg" alt="">
  <div class="icons">
      <i class="ri-facebook-box-fill"></i>
      <i class="ri-instagram-fill"></i>
      <i class="ri-twitter-fill"></i>
  </div>
 </div>
 <div class="f2">
  <h2> TOPTRACER RANGE</h2>
     <h2>GOLF LESSONS</h2>
     <h2>ADVENTURE GOLF</h2>
 </div>
 <div class="f3">
  <h2>COFFEE SHOP</h2>
  <h2>LEAGUES</h2>
  <h2>CONTACT US</h2>
 </div>
 <div class="f4">
  <h4>A20, SIDCUP BYPASS <br>
      CHISLEHURST<br>
      KENT<br>
      BR7 6RP<br>
      
      TEL: 0208 309 0181</h4>
      <h3>GET DIRECTIONS</h3>
 </div>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


<script>
    var mouse= document.querySelector("#cursor")
var blur= document.querySelector("#cursor-blur")

document.addEventListener("mousemove", function(dets){
    mouse.style.left=dets.x+10+"px"
    mouse.style.top=dets.y+"px"
})

document.addEventListener("mousemove", function(move){
  blur.style.left=move.x-150+"px"
  blur.style.top=move.y-160+"px"
})

var cursor2 = document.querySelectorAll("#nav h4,#arrow, .f1 img, .icons i, .f2 h2, .f3 h2, .f4 h3")
cursor2.forEach(function(move){
  move.addEventListener("mouseenter", function(elm){
    mouse.style.scale =3,
    mouse.style.backgroundColor = "transparent",
    mouse.style.border = "1px solid #fff"
  })
   
  move.addEventListener("mouseleave", function(elm){
    mouse.style.scale =1,
    mouse.style.backgroundColor = "#95c11e",
    mouse.style.border = "1px solid #95c11e"
  })
 
})

gsap.to("#nav", {
    backgroundColor:"#000",
  height:"120px",
  duration: 0.5,
  scrollTrigger:{
    trigger:"#nav",
    scroller:"body",
    start:"top -10%",
    end:"top -11%",
    scrub:1
  }
})
gsap.from("#page4 h1",{
  y:50,
  duration:3,
  scrollTrigger:{
    trigger:"#page4",
    scroller:"body",
    start:"top 66%",
    end:"top 60%",
    // markers:true,
    scrub:2
  }
})

</script>

</body>
</html>