<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/style.css">


<video autoplay loop muted src="https://sidcupfamilygolf.com/wp-content/uploads/2023/02/hero.mp4"></video>
<div id="main">
    <div id="page1">
        <h1>eat. drink. play.</h1>
        <h2><b>Welcome to sidcup family golf!</b></h2>
        <p>Sidcup Family Golf is a multipurpose golf facility located in Sidcup, South East London. Passionate about technology, player development and making golf fun and accessible to everyone.</p>
      <div id="arrow">
        <i class="ri-arrow-down-line"></i>
      </div>
    </div>
    <div id="page2">
        <div id="scroller">
            <div id="scroller-in">
                <h4>TOPTRACER RANGE</h4>
                <h4>GOLF LESSONS</h4>
                <h4>CRAZY GOLF</h4>
                <h4>COFFEE SHOP</h4>
            </div>
            <div id="scroller-in">
                <h4>TOPTRACER RANGE</h4>
                <h4>GOLF LESSONS</h4>
                <h4>CRAZY GOLF</h4>
                <h4>COFFEE SHOP</h4>
            </div>
        </div>
        <div id="about-us">
            <img id="img-left" src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-about-1.jpg?strip=all&lossy=1&sharp=1&w=384&ssl=1" alt="">
           <div id="about">
            <h3>ABOUT US</h3>
            <p>Home to a 46-bay, multi-tier, floodlit driving range, powered by Toptracer Range technology. Complimented by a practice green and bunker, coffee shop and American Golf Store. There truly is something for everyone as we also boast two outdoor 18-hole dinosaur themed crazy golf courses.</p>
           </div>
            <img id="img-right" src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-about-2.jpg?strip=all&lossy=1&sharp=1&w=384&ssl=1" alt="">
        </div>
        <div id="img">
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-white.svg" alt="">
</div>
        <div id="card-continer">
                    <div class="card" id="card1">
                <div class="overlay">
                    <div class="icon">
                        <a href="#"><i class="ri-arrow-right-line"></i></a>
                    </div>
                    <h3>TOPTRACER RANGE</h3>
                    <p>Our range delivers the same ball-tracking technology that traces the shots of the game’s best players on TV.</p>
                   <p>Toptracer Range technology offers a fun,&nbsp;engaging, tech-driven experience that appeals to seasoned players, range rivals, friends, family members, and even first-time golfers.</p>
                </div>
                <h1>TOPTRACER RANGE</h1>
                </div>
            
                    <div class="card" id="card2">
                <div class="overlay">
                    <div class="icon">
                        <a href="#"><i class="ri-arrow-right-line"></i></a>
                    </div>
                    <h3>ADVENTURE GOLF</h3>
                    <p>Adventure awaits you!</p>
                    <p>Become a Jurassic explorer as you delve into the land of the dinosaurs! Putt your way through prehistoric landscape, cascading waterfalls and meet some dinosaur friends along the way.</p>
                    </div>
                    <h2>MR MULLIGAN'S</h2>
                <h1>ADVENTURE GOLF</h1>
                 </div>
           
                 <div class="card" id="card3">
                     <div class="overlay">
                    <div class="icon">
                        <a href="#"><i class="ri-arrow-right-line"></i></a>
                    </div>
                    <h3>GOLF <br> LESSONS</h3>
                    <p>Passionate about player development, whether you are new to the game or an aspiring pro, we offer both group and individual lessons tailored to you with the sole focus of helping you reach your goals.</p>
                </div>
                <h1>GOLF <br> LESSONS</h1>
            </div>
        </div>
        <div id="green-div">
            <img id="left" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg" alt="">
            <h4>SIGN UP FOR SIDCUP NEWS AND SPECIAL
                <br> OFFERS <br>
                STRAIGHT TO YOUR INBOX</h4>
            <img id="right" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg" alt="">
        </div>
        <div id="img1">
          <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-white.svg" alt="">
</div>
        <div id="swiper-pick-text">
<!-- Swiper -->
<div class="swiper mySwiper" >
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-5.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt=""></div>
      <div class="swiper-slide"><img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/cafe-menu.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt=""></div>
      <div class="swiper-slide"><img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/cafe-about-1.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
            <div class="alltext">
                <h2>FOOD AND DRINK</h2>
                <p  style="margin-bottom: 35px;">Whether you’re getting ready to play, just finishing your practice session or feeling peckish on the range, we have a variety of food and drink options bought directly to your table or bay.</p>
                <p >We make sure that we cater for everyone, offering a range of vegan and gluten free options.</p>
                <button>COFFEE SHOP</button>
            </div>
        </div>
    </div>
    <div id="page3">
        <div id="instgram">
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">  
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/356774510_812632480058810_8975281679655837536_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1" alt="">       
      </div>
        <div id="swipers" class="swiper mySwiper">
        <div  class="swiper-wrapper">
            <div  id="wrappers" class="swiper-slide"><p>Excellent couple of hours, relax and enjoy in the fun. Staff were accommodating, friendly and very helpful. Café on site for refreshments etc. Will keep children enterntained during the holidays. Worth a visit if you haven’t been.</p></div>
            <div id="wrappers" class="swiper-slide"><p>Great facilities — loads of bays in the driving range with many coloured targets to aim for and a ball tracking monitor to see if you’re getting close.</p></div>
            <div id="wrappers" class="swiper-slide"><p>Absolutely loved the experience! The staff looked after me ensured I was enjoying the range and gave me helpful tips to get the best out of my game. Digital screens to see my progress. I’ll be back 😁 🏌🏽‍♀️</p></div>
            <div id="wrappers" class="swiper-slide"><p>Definitely one of the best places to hit some golf balls, the TopTracer in most of the bays is a fantastic addition for the price! I’m yet to try the Mini golf but everyone seems to be having fun over there!</p></div>
            <div id="wrappers" class="swiper-slide"><p>Pleasantly surprised to discover the mini golf is open until 10pm during weekdays 😊 Always enjoy visit here, cafe does some nice goodies too 👍🏽</p></div>
          </div>
          <div  style="display: none;" class="swiper-pagination"></div>
            </div>
            <img id="colon1" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg" alt="">
            <img id="colon2" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg" alt="">    
        </div>
        <div id="page4">
            <h1>WHAT ARE YOU WAITING FOR?</h1>
            <div id="boxs">
           <div class="box">
            <h2 style="padding-top: 30px;">TOPTRACER RANGE</h2>
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-toptracer.jpg?strip=all&lossy=1&sharp=1&w=1152&ssl=1" alt="">
        </div>
           <div class="box">
            <h2>GOLF LESSONS</h2>
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-lessons.jpg?strip=all&lossy=1&sharp=1&w=1152&ssl=1" alt="">
           </div>
           <div class="box">
            <h2 style="padding-top: 30px;">ADVENTURE GOLF</h2>
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-ag.jpg?strip=all&lossy=1&sharp=1&w=1152&ssl=1" alt="">
           </div>
        </div>
        </div>
        <div id="footer">
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg" alt="">
           <div id="last">
            <div class="f1">
            <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/logo-white.svg" alt="">
            <div class="icons">
                <i class="ri-facebook-box-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-twitter-fill"></i>
            </div>
           </div>
           <div class="f2">
            <h2> TOPTRACER RANGE</h2>
               <h2>GOLF LESSONS</h2>
               <h2>ADVENTURE GOLF</h2>
           </div>
           <div class="f3">
            <h2>COFFEE SHOP</h2>
            <h2>LEAGUES</h2>
            <h2>CONTACT US</h2>
           </div>
           <div class="f4">
            <h4>A20, SIDCUP BYPASS <br>
                CHISLEHURST<br>
                KENT<br>
                BR7 6RP<br>
                
                TEL: 0208 309 0181</h4>
                <h3>GET DIRECTIONS</h3>
           </div>
        </div>
        </div>
    </div>
</div>

<script src="https://cdn.skypack.dev/vanilla-tilt@1.7.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js" integrity="sha512-RX/OFugt/bkgwRQg4B22KYE79dQhwaPp2IZaA/YyU3GMo/qY7GrXkiG6Dvvwnds6/DefCfwPTgCXnaC6nAgVYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/javascripts/script.js"></script>

</body>
</html>
