<% include ./partials/header.ejs %>

<link rel="stylesheet" href="/stylesheets/style5.css">

<div id="main">
    <div id="page1">
        <div id="text">
            <h5>SFG TOPTRACER</h5>
            <h1>EVENTS</h1>
           <p>Compete against other range goers in various game types</p>            
            <p>on our Toptracer range.</p>
            <p style="margin-top: 20px;"><b> Current Competition:</b> 9 Shot Challenge | 1st – 9th July</p>
            <p style="margin-top: 20px;  font-weight: 100;" >See below for more details</p>
        </div>
        <div id="imgs">
<img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt="">     
   </div>
    </div>
    <div id="page2">
        <div id="pick">
            <img id="pick1" src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/06/9-Shot-Challenge-Instagram-Post.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt="">
            <img id="pick2" src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt="">
          <img id="pick3" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-square.svg" alt="">
        </div>
        <div id="texts">
            <h1>9 SHOT CHALLENGE</h1>
            <h4>Unleash your inner competitive golfer…</h4>
            <p>Participate in the 9-Shot Challenge presented by the U.S. Women’s Open, July 1-9. Compete with golfers worldwide for a chance to win prizes*— and lots of bragging rights!</p>
        <p>Hit your best approach shot on nine virtual holes at Pebble Beach, site of this year’s U.S. Women’s Open. Toptracer will record each shot’s distance from the pin. Your final score will be determined by the sum of your distances across all 9 holes. You can play as many times as you want! Don’t forget to download the Toptracer Range app to link your profile to the session to access the tournament and appear on the leaderboard.</p>      
       <p>The following prizes will be awarded to the top 5 men
        and top 5 women globally:*</p> 
        <p>• One pair of tickets to their choice of the 2024 U.S. Open at Pinehurst or the 2024 U.S. Women’s Open at Lancaster Country Club</p>
        <p>  • A $500 American Express gift card</p>  
    </div>
    </div>
    <div id="page3">
       <div id="img1">
        <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg" alt="">
    </div>
    <div id="text2">
        <h2>🏆 VIEW CURRENT LEADERBOARD! 🏆</h2>
        <button>VIEW CURRENT LEADERBOARD</button>
    </div>
    <div id="img2">
        <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg" alt="">
    </div>
</div>
</div>
<% include ./partials/footer.ejs %>