<link rel="stylesheet" href="/stylesheets/style1.css">
<% include ./partials/header.ejs %>

<div id="main">
<div id="page1">
   <div id="texts">
    <h4>A WHOLE NEW RANGE EXPERIENCE</h4>
    <h1>TOPTRACER <br> RANGE</h1>
    <p>Looking for somewhere to enjoy quality time with friends and family or simply have some “me” time. Our floodlit 46-bay multi-tier range features market leading technology in Toptracer that everyone can enjoy. Open until late all week, nothing quite beats a chilled evening session on the range with food and drinks delivered straight to your bay.</p>
   </div>
   <div id="images">
    <img src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt="">
   </div>
</div>
<div id="page2">
   <div id="images">
      <img  id="one" src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/toptracer-about-1.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt="">
      <img id="two" src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/toptracer-about-2.jpg?strip=all&lossy=1&sharp=1&ssl=1" alt="">
      <img id="three" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-square.svg" alt="">
   </div>
   <div id="about">
      <h1>ABOUT TOPTRACER</h1>
      <p>Toptracer shows the flight path of golf balls with valuable shot data, as well as offering in-app games and practice modes. The technology redefines the driving range experience – from a functional training session to an exciting social experience for all ages and abilities. Toptracer also allows you to play the world’s most iconic courses at Pebble Beach, Torrey Pines, Royal St. George’s and St Andrews</p>
   </div>
</div>
<div id="page3">
   <div id="questions">
      <h1>FREQUENTLY ASKED QUESTIONS</h1>
      <div  id="ques1" class="ques">
         <div id="text1">
         <h2>01</h2>
         <h2>CAN I RENT CLUBS?</h2>
         <div id="arrow"><i id="downA" class="ri-arrow-down-line"></i></div>
       </div>
       <div id="prag">
        <p>We love the idea of helping grow the wonderful game, and as such, we do offer club hire if you don’t have your own. 🏌️‍♂️</p>
       </div>
      </div>
      <div  id="ques2" class="ques">
         <div id="text1">
         <h2>01</h2>
         <h2>CAN I RENT CLUBS?</h2>
         <div id="arrow"><i id="downA" class="ri-arrow-down-line"></i></div>
       </div>
       <div id="prag">
        <p>We love the idea of helping grow the wonderful game, and as such, we do offer club hire if you don’t have your own. 🏌️‍♂️</p>
       </div>
      </div>
   </div>
</div>
</div>


<script src="/javascripts/script1.js"></script>
<% include ./partials/footer.ejs %>